<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="foreignExchangeApp.order.home.createOrEditLabel">Create or edit a Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foreignExchangeApp.order.surchargeAmount" for="field_surchargeAmount">Surcharge Amount</label>
                    <input type="number" class="form-control" name="surchargeAmount" id="field_surchargeAmount"
                           formControlName="surchargeAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foreignExchangeApp.order.purchasedAmount" for="field_purchasedAmount">Purchased Amount</label>
                    <input type="number" class="form-control" name="purchasedAmount" id="field_purchasedAmount"
                           formControlName="purchasedAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foreignExchangeApp.order.paidAmount" for="field_paidAmount">Paid Amount</label>
                    <input type="number" class="form-control" name="paidAmount" id="field_paidAmount"
                           formControlName="paidAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foreignExchangeApp.order.discountPercentage" for="field_discountPercentage">Discount Percentage</label>
                    <input type="number" class="form-control" name="discountPercentage" id="field_discountPercentage"
                           formControlName="discountPercentage"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foreignExchangeApp.order.discountAmount" for="field_discountAmount">Discount Amount</label>
                    <input type="number" class="form-control" name="discountAmount" id="field_discountAmount"
                           formControlName="discountAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foreignExchangeApp.order.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" formControlName="creationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foreignExchangeApp.order.purchasedCurrency" for="field_purchasedCurrency">Purchased Currency</label>
                    <select class="form-control" id="field_purchasedCurrency" name="purchasedCurrency" formControlName="purchasedCurrency">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyOption.id === editForm.get('purchasedCurrency')!.value?.id ? editForm.get('purchasedCurrency')!.value : currencyOption" *ngFor="let currencyOption of currencies; trackBy: trackById">{{currencyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
